<div>
    <a class="btn btn-primary" href="insert.php">Založit nového zaměstnance</a>
</div>
<table class="table table-striped mt-3">
    <tr>
        <th>Jméno</th>
        <th>Zaměstnání</th>
        <th>Výplata</th>
        <th>Místnost</th>
        <th colspan="2">Akce</th>
    </tr>
    {{#employees}}
        <tr>
            <td><a href="detail.php?employee_id={{employee_id}}">{{name}} {{surname}}</a></td>
            <td>{{job}}</td>
            <td>{{wage}}</td>
            <td>{{room_name}}</td>
            <td>
                <form method="get" action="update.php">
                    <input type="submit" value="Upravit" class="btn btn-info" {{^isAdmin}}disabled{{/isAdmin}}>
                    <input type="hidden" name="employee_id" value="{{employee_id}}">
                </form>
            </td>
            <td>
                <form method="post" action="delete.php">
                    <input type="submit" value="Smazat" class="btn btn-danger" onclick="return confirm('Opravdu chcete smazat místnost?')" {{^isAdmin}}disabled{{/isAdmin}}>
                    <input type="hidden" name="employee_id" value="{{employee_id}}">
                </form>
            </td>
        </tr>
    {{/employees}}
</table>