<h2>
    {{#edit}}Upravit zaměstnance{{/edit}}
    {{^edit}}Založit zaměstnance{{/edit}}
</h2>
<form method="post">
    <!--    id-->
    <input type="hidden" name="employee_id" value="{{employee.employee_id}}">

    <!--    name-->
    <div class="form-group">
        <label for="name">Jméno</label>
        <input type="text" class="form-control" id="name" name="name" value="{{employee.name}}">
        {{#errors.name}}<div class="d-block invalid-feedback">{{errors.name}}</div>{{/errors.name}}
    </div>
    <div class="form-group">
        <label for="surname">Příjmení</label>
        <input type="text" class="form-control" id="surname" name="surname" value="{{employee.surname}}">
        {{#errors.surname}}<div class="d-block invalid-feedback">{{errors.surname}}</div>{{/errors.surname}}
    </div>
    <div class="form-group">
        <label for="job">Zaměstnání</label>
        <input type="text" class="form-control" id="job" name="job" value="{{employee.job}}">
        {{#errors.job}}<div class="d-block invalid-feedback">{{errors.job}}</div>{{/errors.job}}
    </div>
    <div class="form-group">
        <label for="wage">Výplata</label>
        <input type="number" class="form-control" id="wage" name="wage" value="{{employee.wage}}">
        {{#errors.wage}}<div class="d-block invalid-feedback">{{errors.wage}}</div>{{/errors.wage}}
    </div>
    <div class="form-group">
        <label for="room_id">Místnost</label>
        <select class="form-control" id="room_id" name="room_id">
            <option value="">-- vyberte --</option>
            {{#rooms}}
                <option value="{{room_id}}" {{#selected}}selected{{/selected}}>{{name}}</option>
            {{/rooms}}
        </select>
        {{#errors.room_id}}<div class="d-block invalid-feedback">{{errors.room_id}}</div>{{/errors.room_id}}
    </div>
<!--tlacitko-->
    <button type="submit" class="btn btn-info mt-3">Odeslat</button>
</form>