<h1><a class="a-no-decoration" href="/small_viewer/www">Prohlížeč databáze</a></h1>

<nav>
    <ul>
        <li><a href="/small_viewer/www/room/list.php">Místnosti</a></li>
        <li><a href="/small_viewer/www/staff/list.php">Lidé</a></li>
    </ul>
</nav>