<h1><a class="a-no-decoration" href="/">Prohlížeč databáze</a></h1>
<a href='https://github.com/4iwen/small_viewer/'>github</a>
<nav>
    <div class="flex-container">
        <ul>
            <li><a href="/room/list.php">Místnosti</a></li>
            <li><a href="/employee/list.php">Zaměstnanci</a></li>
        </ul>
        <div class="flex-container">
            {{#isLogged}}
                Logged in as: <strong>{{username}}</strong>

                <!-- change password button -->
                <form action="/change_password.php" method="post">
                    <input type="submit" value="Změnit heslo" class="btn btn-warning">
                </form>

                <!-- logout button -->
                <form action="/logout.php" method="post">
                    <input type="submit" value="Odhlásit se" class="btn btn-info" onclick="return confirm('Opravdu se chcete odhlásit?')">
                </form>
            {{/isLogged}}
            {{^isLogged}}
                <!-- login button -->
                <form action="/login.php" method="post">
                    <input type="submit" value="Přihlásit se" class="btn btn-info">
                </form>
            {{/isLogged}}
        </div>
    </div>
</nav>